<app-header></app-header>

<div class="pusher">
  <div class="main-content">
    <div class="ui grid stackable padded">
      <div class="ten wide computer ten wide tablet ten wide mobile column">
        <div class="content">
          <h2 class="ui header d-blue">
            <i class="chart bar outline icon"></i>
            <div class="content ">
              Status
            </div>
            <div class="sub header text-muted">Positive/Negative cases in Nepal</div>
            <br>
          </h2>
        </div>
      </div>
      <div class="eight wide computer eight wide tablet sixteen wide mobile column">
        <div class="ui fluid card">
          <div class="content">
            <div class="ui right floated header red">
              <i class="icon positive"></i>
            </div>
            <div class="header">
              <div class="ui red header">
                Positive Cases: {{li.tested_positive}}
              </div>
            </div>
            <div class="meta">
              In Nepal
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui red button">More Info</div>
            </div>
          </div>
        </div>
      </div>
      <div class="eight wide computer eight wide tablet sixteen wide mobile column">
        <div class="ui fluid card">
          <div class="content">
            <div class="ui right floated header green">
              <i class="icon cross"></i>
            </div>
            <div class="header">
              <div class="ui header green">Negative Cases: {{li.tested_negative}}</div>
            </div>
            <div class="meta">
              In Nepal
            </div>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui green button">More Info</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Area Chart<ul class="rad-panel-action">
            <li><i class="angle down icon"></i></li>
            <li><i class="undo icon"></i></li>
            <li><i class="cog icon"></i>
            <li><i class="close icon"></i>
            </li>
          </ul>
        </h3>
      </div>
      <div class="panel-body">
        <div id="areaChart" class="rad-chart"></div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
