<app-header></app-header>
<!--POP-UP FORM-->
<ng-container *ngIf="show">
  <div class="form-popup-bg">
    <div class="ui grid sem">
      <div class="three wide computer two wide tablet one wide mobile column"></div>

      <div class="ten wide computer eleven wide tablet fourteen wide mobile column">
        <div class="ui info message" style="top: 15px;">
          <div class="header">
            Offer requested help
          </div>
          <button id="btnCloseForm" class="close-button" (click)="toggleclose()">X</button>
        </div>

        <div class="ui segments" style="top: 20px; margin-bottom: 20px">
          <div class="ui segment">
            <h4 class="ui header">Information Form</h4>
          </div>

          <div class="ui secondary segment">
            <form id="helpForm" class="ui grid form" style="padding: 10px">
              <div class="row field">
                <label class="six wide column" for="firstname">Full name</label>
                <div class="eight wide column">
                  <div class="ui input">
                    <input id="firstname" name="firstname" type="text" placeholder="First name" />
                  </div>
                </div>
              </div>

              <div class="row field">
                <label class="six wide column" for="lastname">Offer Help For</label>
                <div class="eight wide column">
                  <div class="ui input">
                    <input id="lastname" name="lastname" type="text" placeholder="">
                  </div>
                </div>
              </div>

              <div class="row field">
                <label class="six wide column" for="address">Address</label>
                <div class="eight wide column">
                  <div class="ui input">
                    <input id="address" name="address" type="text" placeholder="address">
                  </div>
                </div>
              </div>

              <div class="row field">
                <label class="six wide column" for="contact">Contact No.</label>
                <div class="eight wide column">
                  <div class="ui input">
                    <input id="contact" name="contact" type="text" placeholder="Contact Number">
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="six wide column"></label>
                <div class="eight wide column">
                  <div class="recaptcha-container" style="margin-top:10px" id="recaptcha-container"></div>
                </div>
              </div>
              <div class="row">
                <label class="six wide column"></label>
                <div class="eight wide column">
                  <button type="submit" class="ui primary button">Offer Help</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- SECTION BREAK-->
<div class="pusher">
  <div class="main-content">
    <div class="ui padded three item inverted teal menu">
      <a class="active item" data-tab="first">
        Request List
      </a>
      <a class="item" data-tab="second">
        Corona Status
      </a>
      <a class="item" data-tab="third">
        Service List
      </a>
    </div>
  </div>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
  <div class="content">
    <div class="ui blue dividing header">
      <i class="book icon"></i>
      <div class="content">
        List of Request
        <div class="sub header"></div>
      </div>
    </div>

    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
          <a class="item active" data-tab="first/a" (click)="filter('bed')">
            Bed
          </a>
          <a class="item" data-tab="first/b" (click)="filter('oxygen')">
            Oxygen
          </a>
          <a class="item" data-tab="first/c" (click)="filter('transportation')">
            Transportation
          </a>
          <a class="item" data-tab="first/d" (click)="filter('miscellanous')">
            Miscellaneous
          </a>
        </div>
      </div>
      <div class="twelve wide stretched column">
        <div class="ui active tab segment" data-tab="first/a">
          <table class="ui striped table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Request for</th>
                <th>Urgency</th>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of list">
                <td>{{data.firstname}}
                  {{data.lastname}}</td>
                <td>{{data.requestfor}}</td>
                <td>
                  {{data.urgency}}</td>
                <td>
                  {{data.address}}</td>
                <td>
                  <button class="ui positive button" (click)="toggle()" id="bt">Offer Help</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="ui tab segment" data-tab="first/b">
          <table class="ui striped table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Request for</th>
                <th>Urgency</th>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of list">
                <td>{{data.firstname}}
                  {{data.lastname}}</td>
                <td>{{data.requestfor}}</td>
                <td>
                  {{data.urgency}}</td>
                <td>
                  {{data.address}}</td>
                <td>
                  <button class="ui positive button" (click)="toggle()" id="bt">Offer Help</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="ui tab segment" data-tab="first/c">
          <table class="ui striped table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Request for</th>
                <th>Urgency</th>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of list">
                <td>{{data.firstname}}
                  {{data.lastname}}</td>
                <td>{{data.requestfor}}</td>
                <td>
                  {{data.urgency}}</td>
                <td>
                  {{data.address}}</td>
                <td>
                  <button class="ui positive button" (click)="toggle()" id="bt">Offer Help</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="ui tab segment" data-tab="first/d">
          <table class="ui striped table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Request for</th>
                <th>Urgency</th>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of list">
                <td>{{data.firstname}}
                  {{data.lastname}}</td>
                <td>{{data.requestfor}}</td>
                <td>
                  {{data.urgency}}</td>
                <td>
                  {{data.address}}</td>
                <td>
                  <button class="ui positive button" (click)="toggle()" id="bt">Offer Help</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
  <div class="segment">
    <div class="content">
      <div class="ui gray dividing header">
        <i class="info icon"></i>
        <div class="content">
          Current Covid status in Nepal
          <div class="sub header"></div>
        </div>
      </div>
      <div class="ui grid stackable padded">
        <div class="four wide computer eight wide tablet sixteen wide mobile column">
          <div class="ui fluid card">
            <div class="content">
              <div class="ui right floated header red">
                <i class="icon heartbeat"></i>
              </div>
              <div class="header">
                <div class="ui red header">
                  Positive Cases:
                  <br>{{li.tested_positive}}
                </div>
              </div>
              <div class="description">
                People with positive test results.
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui red button">More Info</div>
              </div>
            </div>
          </div>
        </div>
        <div class="four wide computer eight wide tablet sixteen wide mobile column">
          <div class="ui fluid card">
            <div class="content">
              <div class="ui right floated header green">
                <i class="icon heart"></i>
              </div>
              <div class="header">
                <div class="ui header green">Negative Cases:<br>
                  {{li.tested_negative}}
                </div>
              </div>
              <div class="description">
                People with negative test results.
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui green button">More Info</div>
              </div>
            </div>
          </div>
        </div>
        <div class="four wide computer eight wide tablet sixteen wide mobile column">
          <div class="ui fluid card">
            <div class="content">
              <div class="ui right floated header gray">
                <i class="icon user times"></i>
              </div>
              <div class="header">
                <div class="ui gray header">Deaths:
                  <br>
                  {{li.deaths}}</div>
              </div>
              <div class="description">
                Total number of death by corona.
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui gray button">More Info</div>
              </div>
            </div>
          </div>
        </div>
        <div class="four wide computer eight wide tablet sixteen wide mobile column">
          <div class="ui fluid card">
            <div class="content">
              <div class="ui right floated header blue">
                <i class="icon archive"></i>
              </div>
              <div class="header">
                <div class="ui blue header">Total tests:
                  <br>
                  {{li.tested_total}}</div>
              </div>
              <div class="description">
                Total tests conducted.
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui blue button">More Info</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <select class="ui search dropdown" name="district" [(ngModel)]="district" (ngModelChange)="loadDatabyDistrict()">
    <option value="">District</option>
    <option [value]="data.id" *ngFor="let data of dist">{{data.title}}</option>
  </select> -->
  <div class="ui segment">
    <div class="content">
      <div class="ui blue dividing header">
        <i class="info icon"></i>
        <div class="content">
          Current Covid status in {{dist?.title}}&nbsp;|&nbsp;{{dist?.title_ne}}
          <div class="sub header">
            <br>
            <label>Select District </label>
            <select class="ui search dropdown" name="district" [(ngModel)]="district"
              (ngModelChange)="loadDatabyDistrict()">
              <option value="">District</option>
              <option [value]="data.id" *ngFor="let data of dist">{{data.title}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="ui grid stackable padded">
        <div class="four wide computer eight wide tablet sixteen wide mobile column">
          <div class="ui fluid card">
            <div class="content">
              <div class="ui right floated header red">
                <i class="icon heartbeat"></i>
              </div>
              <div class="header">
                <div class="ui red header">
                  Total Active Cases:{{dist?.covid_summary?.active}}
                  <br>
                </div>
              </div>
              <div class="description">
                Totla active case in {{dist?.title}}.
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui red button">More Info</div>
              </div>
            </div>
          </div>
        </div>
        <div class="four wide computer eight wide tablet sixteen wide mobile column">
          <div class="ui fluid card">
            <div class="content">
              <div class="ui right floated header green">
                <i class="icon heart"></i>
              </div>
              <div class="header">
                <div class="ui header green">Total Recovered: {{dist?.covid_summary?.recovered}}<br>
                </div>
              </div>
              <div class="description">
                People revovered after being tested positive.
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui green button">More Info</div>
              </div>
            </div>
          </div>
        </div>
        <div class="four wide computer eight wide tablet sixteen wide mobile column">
          <div class="ui fluid card">
            <div class="content">
              <div class="ui right floated header gray">
                <i class="icon user times"></i>
              </div>
              <div class="header">
                <div class="ui gray header">Total Deaths: {{dist?.covid_summary?.death}}
                </div>
              </div>
              <div class="description">
                Daily death count.
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui gray button">More Info</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui bottom attached tab segment" style="margin-bottom:15%;" data-tab="third">
  <div class="ui center aligned container">
    <h1>Coming Soon. Stay Tuned</h1>
  </div>
</div>


<app-footer></app-footer>
