$primary-color: #0b132b;
$secondary-color: #093a3e;
$color1: #2ec4b6;
$color2: #1c2541;
$color3: #ff9f1c;

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  color: #fff;
  position: relative;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

h1:after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  bottom: -8px;
  background: #fff;
  transition: 500ms all ease-in-out;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em $secondary-color;
  transform: translate(50%, 135%);
  background-color: #00000073;
}

button {
  color: #000000;
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: #222222;
    color: #fff;
  }
}

button {
  background: none;
  display: block;
  position: absolute;
  height: 25%;
  width: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  transform: translate(50%, 145%);
  border: 2px solid #fff;
  border-radius: 7px;
  font-size: 3vmin;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:before {
  content: "";
  background: #fff;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 300ms all ease-in-out;
}

button:hover:before {
  height: 4px;
}

a.butn {
  display: block;
  position: absolute;
  height: 25%;
  width: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  transform: translate(70%, 140%);
  border: 2px solid #fff;
  border-radius: 7px;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.butn:before {
  content: "";
  background: #fff;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 300ms all ease-in-out;
}

a.butn:hover:before {
  height: 4px;
}

.container {
  background: linear-gradient(to right, #2d65af, #1d6a81);
  width: 100%;
  height: 100%;
  position: relative;
}

.container .one-half {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.container .one-half.left {
  left: 0;
  background-size: cover;
}

.container .one-half.left:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #08c25500;
  position: absolute;
}

.container .one-half.right {
  right: 0;
  background-size: cover;
}

.container .one-half.right:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #c208a300;
  position: absolute;
}

.container .one-half.left,
.container .one-half.right {
  transition: 500ms all ease-in-out;
}

.container .one-half.left:before,
.container .one-half.right:before {
  transition: 500ms all ease-in-out;
}

.container.left-is-hovered .left {
  width: 70%;
}

.container.left-is-hovered .left h1:after {
  width: 100%;
}

.container.left-is-hovered .right {
  width: 30%;
}

.container.left-is-hovered .right:before {
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

.container.right-is-hovered .right {
  width: 70%;
}

.container.right-is-hovered .right h1:after {
  width: 100%;
}

.container.right-is-hovered .left {
  width: 30%;
}

.container.right-is-hovered .left:before {
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}


@media screen and (max-width: 1355px) {
  h1 {
    font-size: 5vmin;
  }

  button {
    min-width: 30%;
    width: 70%;
    transform: translate(20%, 140%);
  }

  .raise:hover,
  .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em $secondary-color;
    transform: translate(20%, 130%);
    background-color: #00000073;
  }
}

@media screen and (max-width: 1355px) {
  h1 {
    font-size: 4vmin;
  }

  button {
    font-size: 2vmin;
  }

}
