<app-header></app-header>

<div class="ui grid sem">
  <div class="three wide computer two wide tablet one wide mobile column"></div>

  <div class="ten wide computer eleven wide tablet fourteen wide mobile column">
    <div class="ui info message" style="top: 15px;">
      <div class="header">
        Verify yourself before proceeding.
      </div>
    </div>

    <div class="ui segments" style="top: 20px; margin-bottom: 20px">
      <div class="ui segment">
        <h4 class="ui header">Login form</h4>
      </div>

      <div class="ui secondary segment">
        <form id="helpForm" class="ui grid form" style="padding: 10px">
          <div class="row field">
            <label class="six wide column" for="ph_no">Give us your contact details</label>
            <div class="eight wide column">
              <div class="ui input">
                <input id="name" name="username" type="text" placeholder="Enter your name" />
              </div>
              <div class="ui input">
                <input id="ph_no" name="ph_no" type="text" placeholder="Enter your phone number" />
              </div>
            </div>
          </div>
          <!--Captcha Container-->
          <div class="recaptcha-container" style="margin-top:10px" id="recaptcha-container"></div>
          <!--End-->
          <div class="row">
            <label class="six wide column"> Or sign in with: </label>
            <div class="eight wide column">
              <div class="ui google plus button"  (click)="googleSignInViaPopup()">
                <i class="google plus icon"></i>
                Google Plus
              </div>
              <div class="login__field field" *ngIf="googleSignedIn">
                <h1>You are Signed in as {{li.displayName}}</h1>
              </div>
            </div>
          </div>
        </form>
        <div class="login__bottom">
          <ul class="login__links">
            <li><a class="login__link" href="javascript:void(0);">Privacy policy</a></li>
            <li><a class="login__link" href="javascript:void(0);">Terms of use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class=" out">
        <div class="login">
          <div class="login__container">
            <div class="login__wrap">
              <div class="login__head">
                <a class="login__logo" href="#"></a>
              </div>
              <form class="login__form">
                <div class="login__body">
                  <div class="login__title login__title_sm">Login to your account</div>
                  <div class="login__field field" *ngIf="!sentcode">
                    <div class="field__wrap">
                      <input class="field__input" type="text" name="phone" placeholder="Your 10 digit mobile number"
                        [(ngModel)]="phoneNumber" />
                    </div>
                    <div class="recaptcha-container" style="margin-top:10px" id="recaptcha-container"></div>
                    <button class="login__btn btn btn btn_blue" (click)="sendOTP()" style="margin-top:10px">
                      Send Verification Code
                    </button>
                    <button class="login__btn btn btn btn_blue" (click)="googleSignInViaPopup()"
                      style="margin-top:10px">
                      Sign-In with Google
                    </button>
                    <button class="login__btn btn btn btn_blue" (click)="facebookSignInViaPopup()"
                      style="margin-top:10px">
                      Sign-In with Facebook
                    </button>
                  </div>
                  <div class="login__field field" *ngIf="googleSignedIn">
                    <h1>You are Signed In{{li.displayName}}</h1>
                  </div>
                  <div class="login__field field" *ngIf="facebookSignedIn">
                    <h1>You are Signed In</h1>
                  </div>
                  <div class="login__field field" *ngIf="sentcode">
                    <div class="field__wrap">
                      <input class="field__input" type="text" name="verificatiocode"
                        placeholder="Enter Verification Code" [(ngModel)]="otp" />
                    </div>
                    <button class="login__btn btn btn btn_blue" (click)="verifyOTP()" style="margin-top:10px">
                      Verify
                    </button>

                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div> -->
<app-footer></app-footer>
