<app-header></app-header>
<div class="ui grid sem">
  <div class="three wide computer two wide tablet one wide mobile column"></div>

  <div class="ten wide computer eleven wide tablet fourteen wide mobile column">
    <div class="ui info message" style="top: 15px;">
      <div class="header">
        Contribute to our Cause
      </div>
    </div>

    <div class="ui segments" style="top: 20px; margin-bottom: 20px">
      <div class="ui segment">
        <h4 class="ui header">Information Form</h4>
      </div>

      <div class="ui secondary segment">
        <form id="helpForm" class="ui grid form contribute" style="padding: 10px" (ngSubmit)="contributeEntry()">
          <div class="row field">
            <label class="six wide column" for="fullname">Full Name</label>
            <div class="eight wide column">
              <div class="ui input">
                <input id="fullname" name="fullname" type="text" [(ngModel)]="fullname" placeholder="Full Name" />
              </div>
              <h5 id="namecheck" style="color: red;">
                **Full Name is missing
              </h5>
            </div>
          </div>

          <div class="row field">
            <label class="six wide column" for="address">Address</label>
            <div class="eight wide column">
              <div class="ui input">
                <input id="address" name="address" type="text" [(ngModel)]="address" placeholder="Address">
              </div>
              <h5 id="addresscheck" style="color: red;">
                **Address is missing
              </h5>
            </div>
          </div>
          <div class="row field">
            <label class="six wide column" for="email">Email</label>
            <div class="eight wide column">
              <div class="ui input">
                <input id="email" name="email" type="text" [(ngModel)]="email" placeholder="Email">
              </div>
              <small id="emailvalid" class="form-text
              text-muted invalid-feedback">
                Your email must be a valid email
              </small>
              <h5 id="emailcheck" style="color: red;">
                **Invalid email-address.
              </h5>
            </div>
          </div>
          <div class="row field">
            <label class="six wide column" for="contact">Contact No.</label>
            <div class="eight wide column">
              <div class="ui input">
                <input id="contact" name="contact" type="text" [(ngModel)]="mobilenumber" placeholder="Contact Number">
              </div>
              <h5 id="contactcheck" style="color: red;">
                **Contact number is required.
              </h5>
            </div>
          </div>

          <div class="row field">
            <label class="six wide column" for="typeOfReq">Volunteer for</label>
            <div class="eight wide column">
              <select class="ui dropdown" name="volunteerfor" id="volunteerFor" [(ngModel)]="interestedfield">
                <option value="" selected disabled>-- Select --</option>
                <option value="tech">Technical Department</option>
                <option value="marketing">Marketing</option>
                <option value="data entry">Data Entry</option>
              </select>
              <h5 id="volunteererr" style="color: red;">
                **Please select an option before submitting.
              </h5>
            </div>
          </div>
          <div class="row">
            <label class="six wide column">
              <div class="ui info message" style="top: 15px;">Verify Captcha before submit</div>
            </label>
            <div class="eight wide column">
              <div class="recaptcha-container" style="margin-top:10px" id="recaptcha-container"></div>
            </div>
          </div>
          <div class="row">
            <!-- <label class="six wide column"></label> -->
            <div class="ui center aligned container">
              <button type="submit" class="ui primary button" *ngIf="captchaBoolean">Offer Help</button>
            </div>
          </div>
          <div class="row" *ngIf="entryContributed">
            <div class="ui center aligned container">
              Thank you for providing your information. We will contact you very soon ! <br>
              <button type="submit" class="ui primary submit button" routerLink="/home-component">Go to Home
                page</button>
            </div>
          </div>
          <!-- <div class="eight wide column">
            <div class="ui error message"></div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
