		<footer class="footer-distributed">
		  <div class="footer-right">
		    <a href="#">
		      <i class="fa fa-facebook"></i>
		    </a>
		    <a href="#">
		      <i class="fa fa-twitter"></i>
		    </a>
		    <a href="#">
		      <i class="fa fa-linkedin"></i>
		    </a>
		    <a href="#">
		      <i class="fa fa-github"></i>
		    </a>
		  </div>
		  <div class="footer-left">
		    <p class="footer-links">
		      <a class="link-1" href="#">Home</a>
		      <a href="#">Test</a>
		      <a href="#">Services</a>
		      <a href="#">About</a>
		      <a href="#">Contact</a>
		    </p>
		    <p>Covid Tracker &copy; 2021</p>
		  </div>
		</footer>
