<div class="ui gray inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="seven wide column">
        <div class="five wide column">
          <h4 class="ui inverted header">Explore</h4>
          <div class="ui inverted link list">
            <a href="#" class="item" routerLink="/contribute-now-component">Contribute Now</a>
            <a href="#" class="item" routerLink="/need-help">Request Help</a>
            <a href="#" class="item" routerLink="">Dashboard</a>
          </div>
        </div>
      </div>
      <!-- <div class="three wide column">
        <h4 class="ui inverted header">Group 2</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Group 3</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div> -->
      <div class="eight wide column">
        <h4 class="ui inverted header">About Us</h4>
        <p>Track covid status all around Nepal, Ask for help and/or help other people in need of certain services.</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img src="../../../assets/image.svg" class="ui centered mini image">
    <div class="ui horizontal inverted small divided link list">
      <!-- <a class="item" href="#">Site Map</a> -->
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
    </div>
  </div>
