<app-header></app-header>
<div class="ui grid sem">
  <div class="four wide computer two wide tablet one wide mobile column"></div>

  <div class="eight wide computer eleven wide tablet fourteen wide mobile column">
    <div class="ui info message" style="top: 15px;">
      <div class="header">
        Admin Login
      </div>
    </div>

    <div class="ui inverted gray segments" style="top: 20px; margin-bottom: 20px">
      <div class="ui segment">
        <h4 class="ui header">Information Form</h4>
      </div>

      <div class="ui secondary segment">
        <form id="helpForm" class="ui grid form" style="padding: 10px">
          <div class="row field">
            <label class="six wide column" for="username">username</label>
            <div class="eight wide column">
              <div class="ui input">
                <input id="username" name="username" type="text" placeholder="Username">
              </div>
            </div>
          </div>

          <div class="row field">
            <label class="six wide column" for="password">Password</label>
            <div class="eight wide column">
              <div class="ui input">
                <input id="password" name="password" type="password" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="six wide column"></label>
            <div class="eight wide column">
              <button type="submit" class="ui primary button">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
