<div class="ui top icon menu grid main">
  <div class="item bg-black">
    <div class="ui avatar image">
      <img src="../../../assets/image.svg">
    </div>
    <div class="content">
      <div class="header">
        <h2> Covid </h2> Tracker
      </div>
    </div>
  </div>
  <div class="search item">
    <div class="ui inverted gray icon input">
      <input type="text" placeholder="Type to search...">
      <i class="search icon inverted black"></i>
    </div>
  </div>

  <div class="right menu primary desktop tablet only desktop-nav">
    <a class="item" routerLink="/home-component">
      Home
    </a>
    <a class="item">
      Status
    </a>
    <a class="ui dropdown item" onClick="drop()">
      Services
      <i class="angle down icon"></i>
      <div class="inverted menu">
        <div class="item">
          Oxygen
        </div>
        <div class="item">
          Vaccine
        </div>
      </div>
    </a>

    <a class="item" routerLink="/contribute-now-component">
      Contribute Now
    </a>
    <a class="item" href="#">
      <i class="dashboard icon"></i>
    </a>

    <!-- <a class="item">
      <i class="plus icon"></i>
    </a> -->
    <!-- <div class="right menu slide">
      <div class="remove item">
        <i class="remove icon"></i>
      </div>
      <div class="item">
        <i class="plus icon"></i> Test1
      </div>
      <div class="item">
        <i class="plus icon"></i> Test2
      </div>
      <div class="item">
        <i class="plus icon"></i> Test3
      </div>
      <div class="item">
        <i class="plus icon"></i> Test4
      </div>
      <div class="item">
        <i class="plus icon"></i> Test5
      </div>
    </div> -->
  </div>
</div>

<div class="ui top grid">
  <div class="mobile only row">
    <div class="column">
      <div class="ui menu">
        <a id="mobile_item" class="item menu-button"><i class="bars icon"></i>Open Menu</a>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical menu v-menu hide">
  <div class="ui segment">
    <div class="padded content">
      <div class="header">
        <h2> Covid </h2> Tracker
      </div>
    </div>
  </div>

  <a class="item">Home</a>
  <a class="item">Status</a>
  <a class="item">Request Help</a>
  <a class="item" routerLink="/contribute-now-component">Contribute Now</a>
</div>
